<% provide :title, t("static_page.home") %>
<% unless user_signed_in? &&  @images.present? %>
  <div class="center jumbotron">
    <h1><%= t "static_page.intro_home" %></h1>
    <p><%= t "static_page.home_description" %></p>
    <%= link_to t("static_page.sign_up"), new_user_registration_path, class: "btn btn-primary" %>
  </div>
<% else %>
  <div class="loader">
    <div id="papepilling">
      <div class="section lazy" id="section1">
        <%= render "slide_image" %>
      </div>
      <div class="section lazy" id="section2">
        <%= render "gallery" %>
      </div>
      <div class="section lazy" id="section3">
        <%= render "blog" %>
      </div>
      <div class="section lazy" id="section4">
        <%= render "shop" %>
      </div>
    </div>
  </div>
<% end %>
