<% provide :title, t("static_page.home") %>
<% unless user_signed_in? &&  @images.present? %>
  <div ng-controller="fadeCtr">
    <div>
      <ul id="menu">
        <li><%= link_to t("static_page.sign_up"), new_user_registration_path %></li>
        <li ng-click="fade(0, active)" ng-class="{'active': active === 0}">
          <%= link_to t("status_page.gallery"), "#", id: "menu-gallery" %></li>
        <li ng-click="fade(1, active)" ng-class="{'active': active === 1}"><%= link_to t("status_page.blog"), "#", id: "menu-blog" %></li>
        <li ng-click="fade(2, active)" ng-class="{'active': active === 2}"><%= link_to t("status_page.shop"), "#", id: "shop" %></li>
      </ul>
    </div>
    <div>
      <div class="loader position-page" id="fade1">
        <div id="papepilling">
          <div class="section page0" id="section1" ng-class="{'page': page0 === 'true', 'animated-piling': old_number === 0, 'hidden-page': page0 === 'false'}">
            <%= render "gallery" %>
          </div>
          <div class="section page1" id="section2" ng-class="{'page': page1 === 'true', 'animated-piling': old_number === 1, 'hidden-page': page1 === 'false'}">
            <%= render "blog" %>
          </div>
          <div class="section page2" id="section3" ng-class="{'page': page2 === 'true', 'animated-piling': old_number === 2, 'hidden-page': page2 === 'false'}">
            <%= render "shop" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div>
    <div>
      <%= render "slide_image" %>
    </div>
    <hr class="section-divider">
    <div>
      <%= render "gallery" %>
    </div>
    <hr class="section-divider">
    <div>
      <%= render "blog" %>
    </div>
    <hr class="section-divider">
    <div>
      <%= render "shop" %>
    </div>
  </div>
<% end %>
