<div id="devise">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="col-md-3"></div>
    <div class="col-md-4">
      <div class="row myborder">
        <h4 class="dev-h4">Change your password</h4><hr>
        <div class="input-group margin-bottom-20">
          <span class="input-group-addon">
            <%= link_to "" do %>
                <i class="glyphicon glyphicon-lock mycolor"></i>
            <% end %>
          </span>
          <%= f.password_field :password, autocomplete: "off",  class: "form-control input-form", placeholder: "Password"  %>
        </div>

        <div class="input-group margin-bottom-20">
          <span class="input-group-addon">
            <%= link_to "" do %>
                <i class="glyphicon glyphicon-lock mycolor"></i>
            <% end %>
          </span>
          <%= f.password_field :password_confirmation, autocomplete: "off",  class: "form-control input-form", placeholder: "Password Confirmation"  %>
        </div>

        <div class="row">
          <div class="col-md-12">
            <%= f.submit "Change my password" , class: "btn-u pull-left" %>
          </div>
        </div>

        <div class="text-center">
          <%= render "devise/shared/links" %>
        </div>

        <div class="col-md-2"></div>
      </div>
    </div>
  <% end %>
</div>
